.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px; /* todas as linhas terão 75px de altura */
    /**
     grid-auto-flow:

     grid-auto-flow: row -> (default) mostra uma linha por vez, seguindo a ordem das imagens, deixando buracos
     grid-auto-flow: dense -> preenche os buracos
     */
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2; /* expande o conteúdo em duas colunas*/
    /* ou 
    grid-column: auto / span 2;
    */
}

.vertical {
    grid-row: span 2; /* expande o conteúdo em duas linhas*/
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

html, body {
    background-color: #ffeead;
    margin: 10px;
}